.collapse {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: center;
  align-items: center;

  &__dropdown {
    width: 100%;

    @media screen and (min-width: $breakpoint-desktop) {
      width: 80%;
    }

    &__title {
      @extend %flex-between;
      padding: 0.5em 1em;
      width: 100%;
      background-color: $primary-color;
      margin: 0 auto;
      margin-top: 1.5em;
      border-radius: 5px;
      cursor: pointer;

      @media screen and (min-width: $breakpoint-desktop) {
        width: 100%;
      }

      h2 {
        color: $tertiary-color;
        @include font(24px, 500);
      }

      p {
        color: $tertiary-color;
        i {
          transition: transform 0.3s ease;
        }
        .open & i {
          transform: rotate(180deg);
        }
      }
    }

    &__content {
      background-color: $secondary-color;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.3s ease, opacity 0.3s ease;
      border-radius: 5px;
      max-height: 0;
      opacity: 0;

      // Hide initially even if isOpen is true
      &.show {
        max-height: 500px; // Adjust as needed
        opacity: 1;
      }

      &.hide {
        max-height: 0;
        opacity: 0;
      }

      // Ensure it starts hidden even if isOpen is true
      &__dropdown__container.open & {
        max-height: 500px;
        opacity: 1;
      }

      @media screen and (min-width: $breakpoint-desktop) {
        width: 100%;
      }

      p {
        @include font(20px, 400);
        color: $footer-color;
        margin: 0 auto;
        padding: 0.8em;
      }
    }
  }
}
